<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Autosave Frequency</key>
	<integer>15</integer>
	<key>Perform Update Check at Launch</key>
	<true/>
	<key>Check For Crash at Launch</key>
	<true/>
	<key>Automatically Start Mosaics</key>
	<true/>
	<key>Image Use Count</key>
	<integer>0</integer>
	<key>Image Reuse Distance</key>
	<integer>66</integer>
	<key>Image Crop Limit</key>
	<integer>20</integer>
	<key>Last Chosen Tile Shapes Class</key>
	<string>MacOSaiXRectangularTileShapes</string>
	<key>Rectangular Tile Shapes</key>
	<dict>
		<key>Tiles Across</key>
		<integer>40</integer>
		<key>Tiles Down</key>
		<integer>40</integer>
		<key>Restrict Tile Size</key>
		<false/>
		<key>Restrict Tile X Size</key>
		<string>6</string>
		<key>Restrict Tile Y Size</key>
		<string>4</string>
	</dict>
</dict>
</plist>
