<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyAddress</key>
	<string></string>
	<key>companyCountry</key>
	<string>USA</string>
	<key>companyEmail</key>
	<string>knarf@mac.com</string>
	<key>companyFax</key>
	<string></string>
	<key>companyName</key>
	<string>Frank M. Midgley</string>
	<key>companyPhone</key>
	<string></string>
	<key>companyWebSite</key>
	<string>http://homepage.mac.com/knarf/</string>
	<key>fileBundleID</key>
	<string>com.mac.homepage.knarf.MacOSaiX</string>
	<key>fileCreator</key>
	<string></string>
	<key>fileReleaseDateD</key>
	<string>18</string>
	<key>fileReleaseDateM</key>
	<string>10</string>
	<key>fileReleaseDateY</key>
	<string>2010</string>
	<key>fileType</key>
	<string>APPL</string>
	<key>padVersion</key>
	<string>3</string>
	<key>productDescLong</key>
	<string></string>
	<key>productDescShort</key>
	<string>Mosaics for Mac OS X</string>
	<key>productDownloadURL</key>
	<array>
		<string>http://homepage.mac.com/knarf/MacOSaiX/MacOSaiX.dmg</string>
	</array>
	<key>productFileSize</key>
	<string>1.1 MB</string>
	<key>productIconURL</key>
	<string></string>
	<key>productKeywords</key>
	<array>
		<string>image</string>
		<string>photo</string>
		<string>picture</string>
		<string>collage</string>
		<string>mosaic</string>
		<string>Google</string>
		<string>flickr</string>
		<string>glyphs</string>
		<string>QuickTime</string>
		<string>iPhoto</string>
		<string>iTunes</string>
	</array>
	<key>productLanguages</key>
	<array>
		<string>English</string>
	</array>
	<key>productLicense</key>
	<string>Freeware</string>
	<key>productName</key>
	<string>MacOSaiX</string>
	<key>productOS</key>
	<array>
		<string>10.2.8</string>
		<string>10.3.x</string>
		<string>10.4.x</string>
		<string>10.5.x</string>
	</array>
	<key>productPageURL</key>
	<string>http://homepage.mac.com/knarf/MacOSaiX/</string>
	<key>productPrice</key>
	<string>0</string>
	<key>productReleaseNotes</key>
	<string>• New features:
	• Added an iTunes album artwork image source.
	• Added a Delicious Library image source.
	• flickr image sources can now search using flickr groups.
	• Google image sources can now search for news or face images.
	• Google image sources can now search the database of LIFE images.
	• Support for transparency:
		• in original images.
		• in images placed in tiles.
		• in images created by the Glyphs image source.
		• when saving a mosaic as JPG, PNG or TIFF.
	• Now showing how well the mosaic matches the original image.
	• Mosaics made with small numbers of images now look better.
	• Image sources can now report errors when finding images.
	• Images can now be repeated in adjacent tiles.
	• Mosaics can now be as small as one tile by one tile.
• Performance improvements:
	• Now taking better advantage of Macs with multiple CPUs/cores.
	• Mosaics that allow image repeats are now created much faster.
	• Images are now pulled from QuickTime movies much faster.
	• Can now save images at larger sizes.
	• Improved handling of very large images from sources.
• Bugs fixed:
	• The image usage rules (repeats, distance apart) are now always honored.
	• CMYK images are now handled correctly.
	• No longer crashing when iPhoto is not installed.
	• No longer crashing when Google becomes inaccessible.
	• No longer stopping after finding 21 Google images.
	• No longer crashing when an image source is added to a mosaic with no original image.
</string>
	<key>productRequirements</key>
	<string></string>
	<key>productReviews</key>
	<string></string>
	<key>productVersion</key>
	<string>2.2b3</string>
	<key>productWebStore</key>
	<string></string>
</dict>
</plist>
