<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyAddress</key>
	<string></string>
	<key>companyCountry</key>
	<string>USA</string>
	<key>companyEmail</key>
	<string>knarf@mac.com</string>
	<key>companyFax</key>
	<string></string>
	<key>companyName</key>
	<string>Frank M. Midgley</string>
	<key>companyPhone</key>
	<string></string>
	<key>companyWebSite</key>
	<string>http://homepage.mac.com/knarf/</string>
	<key>fileBundleID</key>
	<string>com.mac.homepage.knarf.MacOSaiX</string>
	<key>fileCreator</key>
	<string></string>
	<key>fileReleaseDateD</key>
	<string>03</string>
	<key>fileReleaseDateM</key>
	<string>04</string>
	<key>fileReleaseDateY</key>
	<string>2006</string>
	<key>fileType</key>
	<string>APPL</string>
	<key>padVersion</key>
	<string>3</string>
	<key>productDescLong</key>
	<string></string>
	<key>productDescShort</key>
	<string>Mosaics for Mac OS X</string>
	<key>productDownloadURL</key>
	<array>
		<string>http://homepage.mac.com/knarf/MacOSaiX/MacOSaiX2.0a6.dmg</string>
	</array>
	<key>productFileSize</key>
	<string>840 KB</string>
	<key>productIconURL</key>
	<string></string>
	<key>productKeywords</key>
	<array>
		<string>image</string>
		<string>collage</string>
		<string>photo</string>
		<string>mosaic</string>
	</array>
	<key>productLanguages</key>
	<array>
		<string>English</string>
	</array>
	<key>productLicense</key>
	<string>Freeware</string>
	<key>productName</key>
	<string>MacOSaiX</string>
	<key>productOS</key>
	<array>
		<string>10.2.8</string>
		<string>10.3.x</string>
		<string>10.4.x</string>
	</array>
	<key>productPageURL</key>
	<string>http://homepage.mac.com/knarf/MacOSaiX/</string>
	<key>productPrice</key>
	<string>0</string>
	<key>productReleaseNotes</key>
	<string>• Improved user interface.
• MacOSaiX is now universal and will run on Intel-based Macs.
• Yahoo's flickr photo-sharing service can now be searched for images.
• Mosaics can now be viewed full screen.
• A new kiosk mode is available.
• Added display options for the background of mosaics.
• Brought back and improved the puzzle piece tile shapes.
• The image crop limit can now be disabled.
• Autosaving can now be disabled.
• Mosaics can now be saved as PNG files.
• The resolution can now be set when saving as an JPEG, PNG or TIFF file.
• Mosaics can now be saved as web pages
•     Pop-up window follows the mouse and shows image detail.
•     Live links to Google and flickr.
• The size of the Google and flickr disk caches can now be customized.
</string>
	<key>productRequirements</key>
	<string></string>
	<key>productReviews</key>
	<string></string>
	<key>productVersion</key>
	<string>2.0a6</string>
	<key>productWebStore</key>
	<string></string>
</dict>
</plist>
